.chat {
  position: absolute;
  inset: 70px 16px 50px 16px;
  z-index: 9999;
  background-color: $background;
  display: flex;
  flex-direction: column;
  @media (min-width: 640px) {
    inset: 70px 16px 150px 70%;
  }
  .top {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 100px;
    overflow-y: auto;
    .conversations {
      background-color: #555;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
      .customBtnDefault {
        background-color: $primary;
        border-radius: 0;
        font-size: calc($size * 0.8);
        padding: calc($size * 0.9);

        &:hover {
          cursor: pointer;
        }
      }
      button {
        border-radius: 0;
        font-size: calc($size/1.3);
        padding: 0.9rem;
        background-color: inherit;
        color: $background;

        &:hover {
          cursor: pointer;
        }
      }
      .usersChatsList {
        border: none;
        border-bottom: 1px solid $secondary;
        &:active {
          background-color: #555;
        }

        p {
          font-weight: 600;
        }
      }
    }
    .chatList {
      padding: $size;
      flex: 1;
      background-color: $background;
      .message {
        display: flex;
        flex-direction: column;
        &.writer {
          align-items: flex-end;
        }
        .userBlock {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            border-radius: 50%;
          }
          p {
            font-size: calc($size / 1.2);
            font-weight: 600;
            color: $primary;
          }
        }
        .messages {
          color: $secondary;
          font-size: calc($size / 1.1);
        }
      }
    }
  }
  .chatInput {
    background-color: $sometextcolor;

    display: flex;
    input {
      flex: 1;
      padding: $size;
      background-color: inherit;
      outline: none;
      border: none;
      color: aliceblue;
    }
    button {
      border-radius: 0;
      font-size: calc($size/1.3);
      padding: 0.5rem 1rem;
      width: 80px;
    }
  }
}
#dark .message {
  p {
    color: $secondary;
  }
}
#dark .userBlock {
  p {
    color: $primary;
  }
}
