@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

$primary: #9505e3;
$secondary: #333;
$background: #eaeaea;
$sometextcolor: #555;
$size: 1rem;
$pad: 2rem;

.landingPageContainer {
  background: $secondary;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  .landingImg {
    background-color: $secondary;
    img {
      filter: blur(1.5px);
      width: 100%;
    }
  }
  .moto {
    font-family: "Italianno", cursive;
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: calc($pad * 1.5);
    font-weight: 400;
  }
  .video {
    display: none;
  }
  @media (min-width: 400px) {
    .video {
      display: block;
    }
    .moto,
    .landingImg {
      display: none;
    }
  }
  @media (min-width: 800px) {
    .video {
      display: flex;
    }
    .moto,
    .landingImg {
      display: none;
    }
  }
}
