.landingPageContainer {
  background: $secondary;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;

  .landingImg {
    background-color: $secondary;
    img {
      filter: blur(1.5px);
      width: 100%;
    }
  }
  .moto {
    font-family: "Italianno", cursive;
    color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: calc($pad * 1.5);
    font-weight: 400;
  }
  .video {
    display: none;
  }
  @media (min-width: 650px) {
    .video {
      display: block;
    }
    .button {
      position: absolute;
      bottom: 12%;
      left: 30%;
      .link {
        font-size: 28px;
        font-weight: 900;
      }
    }
    @media (min-width: 750px) {
      .button {
        left: 35%;
      }
    }
    @media (min-width: 850px) {
      .button {
        left: 38%;
      }
    }
    @media (min-width: 1050px) {
      .button {
        left: 5%;
        bottom: 20%;
      }
    }
    @media (min-width: 1150px) {
      .button {
        left: 7%;
        bottom: 15%;
      }
    }
    @media (min-width: 1250px) {
      .button {
        left: 10%;
        bottom: 12%;
      }
    }
    .moto,
    .landingImg {
      display: none;
    }
  }
  @media (min-width: 800px) {
    .video {
      display: flex;
    }
    .moto,
    .landingImg {
      display: none;
    }
  }
}
