$primary: #9962d7;
$secondary: #333;
$background: #eaeaea;
$sometextcolor: #555;
$size: 1rem;
$pad: 2rem;
section {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.heading {
    margin: $pad;
}
.article-invoice {
    height: fit-content;
    width: 80vw;
    flex-direction: column;
    background-color: $primary;
    border-radius: $pad + 3;

    & .list-item {
        list-style-type: none;
        padding: $pad;
    }
}
