.happyBlock {
  display: flex;

  flex-direction: column;
  // padding: calc($pad * 2);
  @media (min-width: 400px) {
    padding: calc($size * 0.5);
    margin-bottom: calc($pad * 2);
  }
  @media (min-width: 650px) {
    padding: $size;
    margin-bottom: calc($pad * 2);
  }
  @media (min-width: 750px) {
    margin-bottom: calc($pad * 2);
  }
  @media (min-width: 850px) {
    padding: calc($size * 1.5);
  }
  @media (min-width: 1175px) {
    margin-left: 600px;
    padding: calc($pad * 2);
  }

  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  h2 {
    display: flex;
    justify-content: end;
    font-family: "Italianno", cursive;
    font-weight: 500;
    font-size: calc($pad * 1.3);
    color: $primary;
    @media (max-width: 750px) {
      font-size: calc($pad * 1.2);
    }
    @media (max-width: 650px) {
      font-size: $pad;
    }
  }
  h1 {
    text-align: center;
    font-family: "Italianno", cursive;
    font-weight: 500;
    font-size: calc($pad * 2);
    color: $secondary;
    @media (max-width: 750px) {
      font-size: calc($pad * 1.6);
    }
    @media (max-width: 650px) {
      font-size: calc($pad * 1.3);
    }
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    gap: 0.5rem;
    .gallery__item--1 {
      grid-area: 1 / 1 / 6 /5;
    }
    .gallery__item--3 {
      grid-area: 1 / 5 / 3 /9;
    }
    .gallery__item--2 {
      grid-area: 3 / 5 / 6 /9;
    }
    .gallery__item--6 {
      grid-area: 6 / 1 / 9 /4;
    }
    .gallery__item--5 {
      grid-area: 6 / 4 / 9 /6;
    }
    .gallery__item--4 {
      grid-area: 6 / 6 / 9 /9;
    }
    .gallery__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @media (max-width: 650) {
      display: grid;
      grid-template-columns: 1fr;
    }
  }
}
#dark h1 {
  color: $background;
}
