.ourSuppliers {
  padding-bottom: 3rem;

  section {
    padding-top: 7rem;
  }

  h2 {
    display: flex;
    justify-content: flex-end;
    font-family: "Italianno", cursive;
    font-size: calc($pad * 1.5);
    font-weight: 300;
    color: $primary;
    text-decoration: underline;
    padding-right: $size;
    @media (max-width: 450px) {
      font-size: $pad;
      padding-top: $pad;
    }
  }
  .supplier {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: $size;

    gap: $size;

    @media (max-width: 1595px) {
      flex-direction: column;
      justify-content: center;
    }
    .supplier-main__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 45%;
      @media (max-width: 650px) {
        width: 100%;
      }

      .supplier-text__container {
        width: 60%;
        text-align: left;
        @media (min-width: 400px) {
          width: 80%;
        }
        & :last-child {
          color: $primary;
          text-align: center;
          font-weight: 900;
        }

        h3 {
          text-align: center;
          color: $primary;
        }
      }
      .supplier-gallery__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        justify-items: center;
        @media (max-width: 775px) {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .supplier-card__image {
          width: 330px;
          aspect-ratio: 5/4;
          background: #fff;
          padding: 0.25rem;
          margin: 0.75rem;
          box-shadow: 2px 2px 6px #000000, 4px 4px 6px #010101;
          object-fit: cover;
          @media (max-width: 375px) {
            width: 300px;
          }
        }
      }
    }
  }
}
