@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
$primary: #9962d7;
$secondary: #333;
$background: #eaeaea;
$sometextcolor: #555;
$size: 1rem;
$pad: 2rem;
.suppliers__nav--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem 0;
  .suppliers__nav--ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      .suppliers__nav--li {
        display: inline;
        border-right: 3px solid $primary;
        a {
          color: $secondary;
          font-family: "Italianno", cursive;
          font-size: 2rem;
          font-weight: bold;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }
        a:hover {
          background-color: $primary;
        }
      }
      .suppliers__nav--li:last-child {
        border-right: none;
      }
    }
}