.suppliers__nav--container {
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $size;
  top: 4.5rem;
  .suppliers__nav--ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    .suppliers__nav--li {
      display: inline;
      border-right: 2px solid $primary;
      .suppliers__nav--a {
        color: $secondary;
        font-size: 2rem;
        font-family: "Italianno", cursive;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      .suppliers__nav--a:hover {
        background-color: $primary;
      }
      @media screen and (max-width: 615px) {
        .suppliers__nav--a {
          font-size: 1rem;
          padding: 7px 8px;
        }
      }
    }
    .suppliers__nav--li:last-child {
      border-right: none;
    }
  }
}
