@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

$primary: #9505e3;
$secondary: #333;
$background: #eaeaea;
$sometextcolor: #555;
$size: 1rem;
$pad: 2rem;

.about {
  height: 850px;
  overflow-y: scroll;
  padding-top: 4rem;
  &::-webkit-scrollbar {
    display: none;
  }
  .about__title {
    font-family: "Italianno", cursive;
    font-size: calc($pad * 2);
    font-weight: 500;
  }
  .div-container {
    width: 100%;
    text-align: center;

    h1 {
      color: $sometextcolor;
      font-size: 1.8rem;
      margin-bottom: 15px;
      margin-top: 15px;

      text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
        0px -4px 10px rgba(255, 255, 255, 0.3);
    }

    p {
      color: $secondary;
    }
    .div-line {
      width: 80vw;
      border: 1px solid $sometextcolor;
      margin: 0 auto;
    }
    .steps-container {
      display: flex;
      width: 70vw;
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }

  .wedding-video {
    display: flex;
    justify-content: center;
    padding: 40px;

    gap: 20px;
    .Video {
      width: 50%;
      height: 450px;
      object-fit: cover;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .wedding-container {
      display: flex;
      flex-direction: column;
      .text-video {
        padding: 20px;

        font-size: 20px;
        color: $sometextcolor;
      }
      .ring-container {
        display: inline-block;
        text-align: center;

        .img-ring {
          width: 200px;
          height: 200px;
          padding: 20px;
          border-radius: 100px;
          object-fit: cover;
        }
      }
    }
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;

    text-align: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    padding: 20px 50px;

    .about-text {
      font-family: "Italianno", cursive;
      font-size: 2.4rem;
      font-weight: 400;
      color: $sometextcolor;
    }
  }
  .carousel {
    position: relative;
    width: 100%;
    height: 300px;

    .carousel-inner {
      display: flex;
      gap: calc($size);
      height: 100%;
      transition: transform 0.5s ease-in-out;
      padding: 50px;

      img {
        flex: 1 0 auto;
        width: 400px;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .carousel-controls {
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0 1rem;

      button {
        background: inherit;
        border: none;
        color: $primary;
        cursor: pointer;
        font-size: 2rem;
        line-height: 1;
        outline: none;
        padding: 0.5rem;
        transition: background-color 0.2s ease-in-out;
      }
    }
  }
}

@media only screen and (max-width: 1450px) {
  .about {
    .div-container {
      .steps-container {
        flex-direction: column;
      }
    }
    .wedding-video {
      flex-direction: column;
      .Video {
        width: 100%;
      }
    }
    .carousel {
      position: relative;
      overflow: hidden;
      height: 200px;
      margin: 0 auto;

      .carousel-inner {
        position: absolute;
        width: 50%;
        height: 100%;
        display: flex;
        transition: transform 0.5s ease;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

// @media only screen and (max-width: 950px) {
//   .about {
//     .div-container {
//       .steps-container {
//         flex-direction: column;
//       }
//     }
//     .wedding-video {
//       flex-direction: column;
//       .Video {
//         width: 100%;
//       }
//     }
//   }
// }

@media only screen and (max-width: 550px) {
  .about {
    .about-text {
      font-size: 1.4rem;
    }
    .wedding-video {
      flex-direction: column;
      .Video {
        width: 100%;
      }
    }

    .carousel {
      position: relative;
      overflow: hidden;
      height: 200px;
      margin: 0 auto;

      .carousel-inner {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        transition: transform 0.5s ease;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .carousel-controls {
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        width: 100%;

        button {
          background-color: transparent;
          border: none;
          font-size: 2rem;
          color: white;
          cursor: pointer;
        }
      }
    }

    // Change image after 2 seconds
    @keyframes changeImage {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }

    .carousel img {
      animation: changeImage 3s infinite;
    }
  }
}
