.ourSuppliers {
  margin-top: 4rem;
  margin-inline: 0.5rem;
  font-size: large;
  padding-bottom: 3rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  h2 {
    font-family: "Italianno", cursive;
    letter-spacing: 2px;
    text-align: start;
    margin-right: calc($size * 4);
    margin-bottom: $size;
    margin-top: calc($size / 2);
  }
  section {
    padding-top: calc($size * 6);
  }
}
