@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");
$primary: #9505e3;
$secondary: #333;
$background: #eaeaea;
$sometextcolor: #555;
$size: 1rem;
$pad: 2rem;
.blockContact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: calc($pad * 2);

  h1 {
    color: $sometextcolor;
    font-size: calc($pad * 2);
    font-family: "Italianno", cursive;
    font-weight: 400;
  }
  .form-container {
    flex: 1;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    resize: none;
    gap: $size;
    .success-message {
      color: white;
      font-weight: 700;
      font-size: $size;
      text-align: center;
      background-color: rgb(8, 199, 8);
      padding: 1rem 2rem;
    }
    input,
    textarea,
    button {
      width: 100%;
      padding: 10px;
      border: 1px solid $background;
      border-radius: 5px;
      margin-top: 6px;
      margin-bottom: 16px;
      background: rgb(214, 214, 214);
    }

    button {
      background-color: $primary;
      color: $background;
      font-size: 18px;
      font-weight: 900;
      padding: 12px 20px;
      border: none;

      cursor: pointer;
    }

    button:hover {
      background-color: $secondary;
      color: $primary;
    }
  }

  @media screen and (max-width: 550px) {
    .form-container {
      max-width: 100%;
    }
  }
  .team {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .images {
      display: flex;
      gap: $size;
      flex-wrap: wrap;
    }

    h1 {
      font-size: 4rem;
      font-weight: 400;
    }
  }
}
