.footer {
  text-align: center;
  padding: calc($pad / 2);
  background-color: $secondary;
  position: fixed;
  bottom: 0;
  width: 100vw;
  .footerContent {
    color: $sometextcolor;
    font-size: calc($size / 1.3);
  }
}
