.restaurant-main__container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: inset 20px 20px 60px #bebebe,
            inset -20px -20px 60px #ffffff;
  .restaurant-text__container{
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    p{
      padding-top: .5rem;
    }
  }
  .restaurant-gallery__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    .photo-card__container--polaroid {
      width: min(100%, 250px);
      background: #fff;
      padding: 0.25rem;
      margin: 0.75rem;
      box-shadow: 2px 2px 6px #000000, 4px 4px 6px #010101;
      .photo-card--image__item {
        max-width: 100%;
        object-fit: cover;
      }
    }
    .photo-card__container--polaroid:hover{
      transform: scale(2);
    }
  }
}
@media screen and (max-width: 768px) {
  .restaurant-gallery__container {
    flex-direction: column;
    align-items: center;
  }
}
#dark .photographer__container {
  box-shadow: inset 20px 20px 40px #000000,
          inset -20px -20px 40px  #010101;
}
