
.home-galerie__container{
    width: 100%;
   
    .photographer__container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        box-shadow: inset 20px 20px 40px #bebebe,
            inset -20px -20px 40px #ffffff;

        .profile-picture__container{
            display: flex;
            flex-direction: row;
            width: min( 100%, 600px);
            height: auto;
            margin: .5rem;
            padding: .2rem;
           
            .profile-picture__image--item{
                max-width: 100%;
                height: 300px;
                border-radius: 50%;
                object-fit: cover; 
                aspect-ratio: 1/1;
                box-shadow:  2px 2px 6px #000000,
                4px 4px 6px #010101;
            }
            .profile-picture__text--container{
                padding-left: 2rem;
                padding-top: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
              
            }   
        }
        .photo-card__container--polaroid{
            width: min( 100%, 200px);
            height: auto;
            background: #fff;
            padding: 0.25rem;
            margin: 0.75rem;
            box-shadow:  2px 2px 6px #000000,
            4px 4px 6px #010101;
            
            .photo-card--image__item{
                max-width: 100%;
                height: auto;
                object-fit: cover; 
            }
        }
        .photo-card__container--polaroid:hover{
            transform: scale(2);
        }
    }
}

@media screen and (max-width: 768px) { 
  .home-galerie__container{
    flex-direction: column;
    align-items: center;
  }
}
#dark .photographer__container {
    box-shadow: inset 10px 10px 10px #000000,
            inset -10px -10px 10px  #010101;
}
  
