// Normalize default values? TEST git vrsion sistem
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#light {
  background-color: $background;
}

#dark {
  background-color: $secondary;
  color: $background;
}
#dark p {
  color: $background;
}
#dark a {
  color: $background;
}
