// Normalize default values? TEST git vrsion sistem
$primary: #9505e3;
$secondary: #333;
$background: #eaeaea;
$sometextcolor: #555;
$size: 1rem;
$pad: 2rem;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#light {
  background-color: $background;
}

#dark {
  background-color: #333;
  color: $background;
}
#dark p {
  color: #eaeaea;
}
#dark a {
  color: #eaeaea;
}
